@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --dark-grey: #171717;
    --blue: #0058ee;
    --purple: #7b1fa2;
    --pruple-light: #ae52d4;
    --pruple-dark: #4a0072;
}

* {
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    margin: auto;
    color: white;
    height: 100%;
    width: 100%;
}

/* ----------------------------------------------------------- Universal -------------------------------------------------------- */

section{
    height: auto;
    display: flex;
    background: var(--dark-grey);
}

.button{
    width: 10vw;
    height: 50px;
    border: none;
    text-transform: uppercase;
    color: white;
    border-radius: 32px;
    background: linear-gradient(90deg, rgba(208,15,15,1) 0%, rgba(179,0,255,1) 100%);
    transition: 0.5s;
    font-weight: 500;
}
.button a{
    text-decoration: none;
    color: white;
}
.button:hover{
    transform: scale(1.1);
}

/* ----------------------------------------------------------- Navbar ----------------------------------------------------------- */

.nav-bar {
    margin: 0;
    list-style: none;
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    background-color: var(--dark-grey)
}

.nav-bar ul{
    margin: 0;
    display: flex;
}

#nav-icon{
    margin: 10px;
    transition: 1s;
}

#nav-icon:hover{
    transform: scale(1.5);
}

.nav-bar ul{
    width: 100%;
}

.nav-bar li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    transition: 0.5s;
}

.nav-bar li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.nav-bar li:hover{
    background: linear-gradient(90deg, rgba(208,15,15,1) 0%, rgba(179,0,255,1) 100%);
    transform: scale(1.1);
}

/* --------------------------------------------------- Hero --------------------------------------------------------------------- */

#hero{
    background: white;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1{
    color: black;
    font-size: 5em;
}

#hero-text{
    width: 50%;
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    margin: 2em;
}

#xphone-orp-hero{
    margin-left: 20ch;
    height: 70vh;
    transform: rotate(20deg);
}
/* --------------------------------------------------- XPhone Info -------------------------------------------------------------- */

#xphone-info{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#xphone-container{
    display: flex;
    margin: 5%;
}

#xphone-info-textarea{
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
}

#xphone-info h1{
    font-size: 6vh;
}

#xphone-orp-pic{
    height: 40vw;
    margin-left: 50px;
}

/* --------------------------------------------------- Card Component ----------------------------------------------------------- */

.card {
    margin: 2.5%;
    padding: 2.5%;
    color: #171717;
    border-radius: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20em;
    box-shadow: -15px 15px 10px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
    box-shadow: -15px 15px 28px #171717, 0 10px 10px #171717;
    transform: translateY(-25px);;
}

/* --------------------------------------------------- Animations ----------------------------------------------------------- */

.fadein {
    animation: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blurIn {
    0% {
        filter: blur(10px);
    }

    100% {
        filter: blur(0px);
    }
}