@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

:root{
    --dark: #171717;
}


html,body{
    margin: auto;
    height: 100%;
    font-family: 'Roboto Slab', sans-serif;
}


/* -------------------------------------------------------- Navbar */
nav{
    color: white;
    background-color: var(--dark);
}

nav ul {
    height: 5em;
    margin: 0%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

nav ul li{
    padding: 1.82em;
    background-color:red;
    text-decoration: none;
    list-style: none;
}
/* -------------------------------------------------------- Dropdown */

#dropdown{
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    color: white;
    padding: 2em;
    background-color: var(--dark);
}

.dd-art-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.dd-art-list li{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.dd-art-list li *{
    margin: 1em;
}

.dd-art-list img{
    height: 50px;
}